body {
  font-family: Sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
  -webkit-text-size-adjust: 100%;
}

.section {
  padding: 0 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mCarousel {
  overflow: hidden;
  position: relative;
}
.mCarousel ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px 0;
  width: 100%;
  display: table;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  transition: transform 300ms;
}
.mCarousel li {
  float: left;
  display: table-cell;
  margin: 0;
}
.mCarousel .mCarousel-pager {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}
.mCarousel .mCarousel-pager a {
  display: inline-block;
  margin: 0 4px;
  padding-top: 8px;
  width: 8px;
  height: 0;
  overflow: hidden;
  background: #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.mCarousel .mCarousel-pager a.visible {
  background: #a60000;
}
.mCarousel .mCarousel-pager a.grouped {
  display: none;
}
.mCarousel .mCarousel-prev,
.mCarousel .mCarousel-next {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  height: 0;
  padding-top: 24px;
  overflow: hidden;
  width: 24px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ccc;
  border: 2px solid rgba(204, 204, 204, 0.8);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.mCarousel .mCarousel-prev:after,
.mCarousel .mCarousel-next:after {
  color: #a60000;
  color: rgba(166, 0, 0, 0.8);
  position: absolute;
  top: -6px;
  font-family: 'Times New Roman', Times, Serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
.mCarousel .mCarousel-prev:hover, .mCarousel .mCarousel-prev:focus,
.mCarousel .mCarousel-next:hover,
.mCarousel .mCarousel-next:focus {
  background: #FFF;
  border: 2px solid #a60000;
}
.mCarousel .mCarousel-prev {
  left: 0;
}
.mCarousel .mCarousel-prev:after {
  content: "‹";
  left: 6px;
}
.mCarousel .mCarousel-next {
  right: 0;
}
.mCarousel .mCarousel-next:after {
  content: "›";
  left: 8px;
}

.no-js .mCarousel {
  overflow: scroll;
}

.touch .mCarousel .mCarousel-prev,
.touch .mCarousel .mCarousel-next {
  display: none;
}

.photos ul {
  padding: 0;
}

.product {
  padding: 10px;
  position: relative;
  background: #FFF;
}
.product img {
  width: 100px;
  float: left;
  margin-right: 20px;
}
.product .name {
  padding: 12px 0 12px 0;
  font-size: 24px;
  font-weight: bold;
}
.product .price {
  font-size: 24px;
}

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
