body {
  font-family: Sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

.mCarousel-detector {
  position: absolute;
  top: -99999px;
  left: -99999px;
  -webkit-transition: min-height 0.01ms;
  -moz-transition: min-height 0.01ms;
  -o-transition: min-height 0.01ms;
  transition: min-height 0.01ms;
  min-height: 1px;
}
@media (min-width: 400px) {
  .mCarousel-detector {
    min-height: 2px;
  }
}

.mCarousel {
  border: 1px solid #ccc;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mCarousel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.mCarousel li {
  display: table-cell;
  margin: 0;
  padding: 100px 0;
  text-align: center;
  background: #ddd;
  font-size: 36px;
  font-weight: bold;
  border: 1px solid #FFF;
}
.mCarousel .mCarousel-pager {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.mCarousel .mCarousel-pager a {
  margin: 0 1em;
}
.mCarousel .mCarousel-pager a.visible {
  background: red;
}
.mCarousel .mCarousel-prev,
.mCarousel .mCarousel-next {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
}
.mCarousel .mCarousel-prev {
  left: 0;
}
.mCarousel .mCarousel-next {
  right: 0;
}
