.mCarousel {
  overflow: hidden;
  position: relative;
}
.mCarousel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
}
.mCarousel li {
  float: left;
  display: table-cell;
  margin: 0;
}
.mCarousel .mCarousel-pager {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}
.mCarousel .mCarousel-pager a {
  display: inline-block;
  margin: 0 4px;
  padding-top: 6px;
  width: 6px;
  height: 0;
  overflow: hidden;
  background: #CCC;
  border: 2px solid #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.6);
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.6);
}
.mCarousel .mCarousel-pager a.visible {
  background: #000;
}
.mCarousel .mCarousel-pager a.grouped {
  display: none;
}
.mCarousel .mCarousel-prev,
.mCarousel .mCarousel-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  margin: -12px auto 0;
  opacity: 0;
  -webkit-box-shadow: 0 2px 3px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0 2px 3px rgba(50, 50, 50, 0.6);
  box-shadow: 0 2px 3px rgba(50, 50, 50, 0.6);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: 6px 5px;
  background-repeat: no-repeat;
  border: 2px solid #FFF;
}
.mCarousel .mCarousel-prev {
  left: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAQAAAAZmV8jAAAAWElEQVQIHTXBQQZCYRQG0G8fjS6PeDRtFC0+olG0g59LRLSDk+evc5IfJw+7TI4+uGbj4I2nNYnVC22fxKIxVDYuNudMykCrTEqjVSalMVQmpXHLn8Xd+gXI3E01o/YkVgAAAABJRU5ErkJggg==");
}
.mCarousel .mCarousel-next {
  right: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAQAAAAZmV8jAAAAVElEQVQImWP4r/X//H8VBhj4f/L///9P/ivCuIr/H6ILPMEm8BAhYP8fBA6j6gfZ8F8drPTVfy0QR+v/cyDn7X9diMJjQM6H/2YwQ6T/X/pvA3MUABA9TTUDTFC7AAAAAElFTkSuQmCC");
  background-position: 7px 5px;
}

.mCarousel:hover .mCarousel-prev,
.mCarousel:hover .mCarousel-next {
  opacity: 1;
}

.no-js .mCarousel {
  overflow: scroll;
}
