@import "compass";

body {
    font: {
        family: Sans-serif;
    }
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}

.mCarousel {
    border: 1px solid #ccc;
    width: 100%;
    // overflow: scroll; //no-js
    overflow: hidden;
    position: relative;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        //width: 100%;
        display: table;
        @include transition(margin 300ms);
    }
    li {
        display: table-cell;
        margin: 0;
        padding: 100px 0;
        text-align: center;
        //width: 100%;
        background: #ddd;
        font-size: 36px;
        font-weight: bold;
        border: 1px solid #FFF;

        div {
            //min-width: 320px; 
        }
    }

    .mCarousel-pager {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;

        a {
            margin: 0 1em;
        }
    }
    .mCarousel-prev,
    .mCarousel-next {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
    }
    .mCarousel-prev {
        left: 0;
    }
    .mCarousel-next {
        right: 0;
    }
}